
.floating-canvas {
    position: absolute;
    width: inherit;
    height: inherit;
}


.floating_star {
    z-index: 0;
    position: absolute;
    /*left: 50%;*/
    /*top: 50%;*/
    height: 2px;
    background: linear-gradient(-45deg, #a4bffd, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    /*animation: float-shining 5000ms ease-in-out infinite;*/
    /*animation: tail 5000ms ease-in-out infinite, shooting 5000ms ease-in-out infinite;*/
}
.floating_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), white, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: float-shining 5000ms ease-in-out infinite;
            /*,float-rotating 5000ms ease-in-out infinite;*/
}
.floating_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffffff, rgba(0, 0, 255, 0));
    border-radius: 100%;
    animation: float-shining 5000ms ease-in-out infinite;
            /*,float-rotating2 5000ms ease-in-out infinite;*/
    transform: translateX(50%) rotateZ(-45deg);
}


/*.floating_star:nth-child(1) {*/
/*    top: calc(70% - 4%);*/
/*    left: calc(10% + 11%);*/
/*    animation-delay: 300ms;*/
/*}*/

/*.floating_star:nth-child(1)::before, .floating_star:nth-child(1)::after {*/
/*    animation-delay: 300ms;*/
/*}*/

.floating_star:nth-child(1) {
    transform: rotateZ(3deg);
    top: 10%;
    left: 10%;
    animation-delay: 300ms;
}

.floating_star:nth-child(1)::before, .floating_star:nth-child(1)::after {
    animation-delay: 300ms;
}

.floating_star:nth-child(2) {
    transform: rotateZ(5deg);
    top: 20%;
    left: 30%;
    animation-delay: 100ms;
}

.floating_star:nth-child(2)::before, .floating_star:nth-child(2)::after {
    animation-delay: 100ms;
}

.floating_star:nth-child(3) {
    transform: rotateZ(8deg);
    top: 80%;
    left: 40%;
    animation-delay: 500ms;
}

.floating_star:nth-child(3)::before, .floating_star:nth-child(3)::after {
    animation-delay: 500ms;
}

.floating_star:nth-child(4) {
    transform: rotateZ(14deg);
    top: 70%;
    left: 20%;
    animation-delay: 600ms;
}

.floating_star:nth-child(4)::before, .floating_star:nth-child(4)::after {
    animation-delay: 600ms;
}

.floating_star:nth-child(5) {
    transform: rotateZ(20deg);
    top: 90%;
    left: 80%;
    animation-delay: 2600ms;
}

.floating_star:nth-child(5)::before, .floating_star:nth-child(5)::after {
    animation-delay: 2600ms;
}

.floating_star:nth-child(6) {
    transform: rotateZ(20deg);
    top: 10%;
    left: 20%;
    animation-delay: 2600ms;
}

.floating_star:nth-child(6)::before, .floating_star:nth-child(6)::after {
    animation-delay: 2600ms;
}

.floating_star:nth-child(7) {
    transform: rotateZ(20deg);
    top: 30%;
    left: 50%;
    animation-delay: 2600ms;
}

.floating_star:nth-child(7)::before, .floating_star:nth-child(7)::after {
    animation-delay: 2600ms;
}

@keyframes float-shining {
    0% {
        width: 20px;
    }
    50% {
        width: 10px;
    }
    100% {
        width: 20px;
    }
}

@keyframes float-rotating1 {
    0% {
        transform: rotateZ(25deg);
    }
    50% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(25deg);
    }
}

@keyframes float-rotating2 {
    0% {
        transform: rotateZ(-25deg);
    }
    50% {
        transform: rotateZ(-40deg);
    }
    100% {
        transform: rotateZ(-25deg);
    }
}