<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.StudyMapper">

    <insert id="insert">

        insert into tstd (std_num, std_name, std_start_time, std_end_time,
                          std_exp, std_cap, std_info, std_rep,
                          std_status, grp_num, std_plc_num)
        values(seq_std_nextval, #{name}, #{startTime}, #{endTime}, #{exp},
                  {cap}, {info}, #{rep}, #{status}, #{grpNuum}, #{stdPlcNum})
    </insert>

</mapper>