<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.AdminDashBoardMapper">

    <select id="countTodayUserRegister" resultType="int">
        <![CDATA[
        select count(*)
        from tuser
        where reg_date BETWEEN To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') and (To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') + 1)
        ]]>
    </select>

    <select id="countTodayGroupRegister" resultType="int">
        <![CDATA[
        select count(*)
        from tgrp
        where reg_date BETWEEN To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') and (To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') + 1)
        ]]>
    </select>

    <select id="countTodayStudyRegister" resultType="int">
        <![CDATA[
        select count(*)
        from tstd
        where reg_date BETWEEN To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') and (To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') + 1)
        ]]>
    </select>


</mapper>