<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.AdminBoardMapper">

    <select id="adminGetCountBySn" resultType="int">
        select count(*) from tbrd b, tuser u
        where sn > 0
        and u.id = b.user_id
        <trim prefix="AND">
            <if test="active == 'A'.toString()">
                b.status = 'BOST01'
            </if>
            <if test="active == 'D'.toString()">
                b.status = 'BOST02'
            </if>
            <if test="active == 'AD'.toString()">
                b.status in ('BOST01','BOST02')
            </if>
        </trim>
        <trim prefix="AND">
            <if test="keyword == 'E'.toString()">
                u.id like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'N'.toString()">
                u.name like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'EN'.toString()">
                u.id || u.name like '%'||#{search}||'%'
            </if>
        </trim>
    </select>


    <!--게시판 번호순 정렬-->
    <select id="adminGetListWithPagingBySn" parameterType="com.swime.domain.BoardVO" resultType="com.swime.domain.BoardVO">
        <![CDATA[

        select *
        from
            (
            select rownum rn,sn, user_id, name, title, reg_Date, upd_Date, status
            from
                (
                select b.sn, b.user_id, u.name, b.title, b.reg_Date, b.upd_Date, b.status
                from
                    tuser u,
                    tbrd b
                where
                    u.id = b.user_id
                ]]>
                <include refid="boardActive"></include>
                order by

        <choose>
            <when test="type == 'S'.toString()">
                sn asc
            </when>
            <when test="type == 'D'.toString()">
                reg_Date desc
            </when>
            <when test="type == 'SS'.toString()">
                status asc
            </when>
        </choose>
        )
        <![CDATA[
            where rownum <= #{pageNum} * #{amount}
            )
        where rn > (#{pageNum} - 1) * #{amount}

        ]]>
    </select>


    <sql id="boardActive">
        <trim prefix="AND">
            <if test="active == 'A'.toString()">
                b.status = 'BOST01'
            </if>
            <if test="active == 'D'.toString()">
                b.status = 'BOST02'
            </if>
            <if test="active == 'AD'.toString()">
                b.status in ('BOST01','BOST02')
            </if>
        </trim>
        <trim prefix="AND">
            <if test="keyword == 'E'.toString()">
                u.id like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'N'.toString()">
                u.name like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'EN'.toString()">
                u.id || u.name like '%'||#{search}||'%'
            </if>

        </trim>
    </sql>

    <update id="adminBoardRemove">
        update tbrd
        set status = 'BOST02'
        where sn = #{sn}
    </update>

    <update id="adminBoardFromDeleteToActive">
        update tbrd set status = 'BOST01' where sn = #{sn}
    </update>




    <!--****************************관리자 댓글 페이징*****************************-->

    <select id="getCountBySn" resultType="int">
        select count(*) from trpl r, tuser u
        where sn > 0
        and r.user_id = u.id
        <trim prefix="AND">
            <if test="active == 'A'.toString()">
                r.status = 'RPST01'
            </if>
            <if test="active == 'D'.toString()">
                r.status = 'RPST02'
            </if>
            <if test="active == 'AD'.toString()">
                r.status in ('RPST01','RPST02')
            </if>
        </trim>
        <trim prefix="AND">
            <if test="keyword == 'E'.toString()">
                u.id like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'N'.toString()">
                u.name like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'EN'.toString()">
                u.id || u.name like '%'||#{search}||'%'
            </if>
        </trim>

    </select>

    <!--번호순 정렬-->
    <select id="adminReplyGetListWithPagingBySn" parameterType="com.swime.domain.ReplyVO" resultType="com.swime.domain.ReplyVO">
    <![CDATA[
        select *
        from
            (
            select rownum rn,sn, brd_sn, comment_group, user_id, name, content, status, reg_date, upd_date
            from
                (
                select r.sn, r.brd_sn, r.comment_group, r.user_id, u.name, r.content, r.status, r.reg_date, r.upd_date
                from
                    trpl r,tuser u
                where
                    r.user_id = u.id
    ]]>
            <include refid="replyActive"></include>
            order by
            <choose>
                <when test="type == 'S'.toString()">
                    sn asc
                </when>
                <when test="type == 'D'.toString()">
                    reg_Date desc
                </when>
                <when test="type == 'SS'.toString()">
                    status asc
                </when>
            </choose>
        )
        <![CDATA[
                where rownum <= #{pageNum} * #{amount}
            )
        where rn > (#{pageNum} -1) * #{amount}

        ]]>
    </select>

    <sql id="replyActive">
        <trim prefix="AND">
            <if test="active == 'A'.toString()">
                r.status = 'RPST01'
            </if>
            <if test="active == 'D'.toString()">
                r.status = 'RPST02'
            </if>
            <if test="active == 'AD'.toString()">
                r.status in ('RPST01','RPST02')
            </if>
        </trim>
        <trim prefix="AND">
            <if test="keyword == 'E'.toString()">
                u.id like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'N'.toString()">
                u.name like '%'||#{search}||'%'
            </if>
            <if test="keyword == 'EN'.toString()">
                u.id || u.name like '%'||#{search}||'%'
            </if>
        </trim>
    </sql>

    <update id="adminReplyRemove">
        update trpl set status = 'RPST02' where sn = #{sn}
    </update>

    <update id="adminReplyFromDeleteToActive">
        update trpl set status = 'RPST01' where sn = #{sn}
    </update>


</mapper>
