<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.AdminDashBoardMapper">

    <select id="countTodayUserRegister" resultType="int">
        <![CDATA[
        select count(*)
        from tuser
        where reg_date BETWEEN
            trunc(current_date, 'dd')
            and trunc(current_date, 'dd') + 0.99999
--               To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd')
--               and To_date(To_char(current_date, 'yyyy/mm/dd'), 'yyyy/mm/dd') + 0.99999
        ]]>
    </select>

    <select id="todayUserRegister" resultType="com.swime.domain.DashBoardModalDataVO">
        <![CDATA[
        select id string1, reg_date date1
        from tuser
        where reg_date BETWEEN
            trunc(current_date, 'dd')
            and trunc(current_date, 'dd') + 0.99999
        ]]>
    </select>



    <select id="countTodayGroupRegister" resultType="int">
        <![CDATA[
        select count(*)
        from tgrp
        where reg_date BETWEEN
            trunc(current_date, 'dd')
            and trunc(current_date, 'dd') + 0.99999
        ]]>
    </select>

    <select id="todayGroupRegister" resultType="com.swime.domain.DashBoardModalDataVO">
        select description string1, reg_date date1
        from tgrp
        where reg_date BETWEEN
            trunc(current_date, 'dd')
            and trunc(current_date, 'dd') + 0.99999
    </select>

    <select id="countTodayStudyRegister" resultType="int">
        <![CDATA[
        select count(*)
        from tstd
        where reg_date BETWEEN
            trunc(current_date, 'dd')
            and trunc(current_date, 'dd') + 0.99999
        ]]>
    </select>

    <select id="todayStudyRegister" resultType="com.swime.domain.DashBoardModalDataVO">
        select name string1, reg_date date1
        from tstd
        where reg_date BETWEEN
                  trunc(current_date, 'dd')
                  and trunc(current_date, 'dd') + 0.99999
    </select>

    <select id="test" resultType="Date">
        select To_date(nvl(${year}, 1900)||'/'||nvl(${month}, 01)||'/'||nvl(${day}, 01) ,'yyyy/mm/dd') from dual
    </select>

    <select id="test2" resultType="Date">
        select current_date from dual
    </select>

    <select id="countUserRegisterByParam" resultType="int">
        <![CDATA[
        select count(*)
        from tuser
        where reg_date BETWEEN
            To_date(${year}||'/'||${month}||'/'||${day} ,'yyyy/mm/dd')
            and To_date(${year}||'/'||${month}||'/'||${day} ,'yyyy/mm/dd') + 0.99999
        ]]>
    </select>

    <update id="visitCountUp">
        {call
            declare
            begin
                insert into tvisit_count(visit_date, count)
                select trunc(current_date, 'hh24'), 0
                from dual
                where not exists(
                    select visit_date
                    from tvisit_count
                    where visit_date = trunc(current_date, 'hh24')
                );

                update tvisit_count
                set count = (count + 1)
                where visit_date = trunc(current_date, 'hh24');
            end
        }
    </update>

    <select id="getVisitCountByTime" resultType="Integer">
        select count
        from tvisit_count
        where visit_date = To_date(${year}||'/'||${month}||'/'||${day}||' '||${hour} ,'yyyy/mm/dd hh24')
    </select>

    <select id="getVisitCount" resultType="int">
        select count
        from tvisit_count
        where visit_date = trunc(current_date, 'hh24')
    </select>

    <select id="getDashBoardLang" resultType="com.swime.domain.DashBoardLangVO">
        select name, COUNT(name) count
        from tgrp_tag
        group by name
        order by count desc
    </select>

    <select id="getDashBoardLocale" resultType="com.swime.domain.DashBoardLocaleVO">
        select sido, sigungu, count(sigungu) count
        from tgrp
        group by sigungu, sido
        order by sido, count desc
    </select>

</mapper>