<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.AuthMapper">
    <select id="getList" resultType="com.swime.domain.AuthVO">
        select id, auth
        from TUSER_ROLE
        where id = #{id}
    </select>

    <insert id="insert">
        insert into TUSER_ROLE(id, auth)
        values(#{id}, #{auth})
    </insert>

    <delete id="delete">
        delete from TUSER_ROLE
        where id = #{id}
    </delete>

    <delete id="deleteAuth">
        delete from TUSER_ROLE
        where id = #{id} and auth = #{auth}
    </delete>

    <select id="select" resultType="com.swime.domain.AuthVO">
        select id, auth
        from TUSER_ROLE
        where id = #{id} and auth = #{auth}
    </select>

</mapper>