<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.AuthMapper">
    <select id="read" resultType="com.swime.domain.AuthVO">
        select id, password, name, picture, birth, reg_path, to_char(last_login_date, 'yyyy-mm-dd hh24:mi:ss') as last_login_date,
               to_char(email_auth, 'yyyy-mm-dd hh24:mi:ss') as email_auth, status, to_char(reg_date, 'yyyy-mm-dd hh24:mi:ss') as reg_date
        from TUSER_AUTH
        where id = #{id}
    </select>

    <insert id="insert">
        insert into TUSER_ROLE(id, auth)
        values(#{id}, #{auth})
    </insert>

    <delete id="deleteKey">
        delete from TUSER_ROLE
        where id = #{id}
    </delete>

</mapper>