<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swime.mapper.GroupMapper">

    <insert id="insertGroup">
        insert into tgrp (grp_num, grp_name, grp_cap, grp_info, grp_pic, grp_rep, grp_lang_num1, grp_lang_num2, grp_lang_num3, grp_regn_sido, grp_regn_sgg)
        values (seq_grp.nextval, #{name}, #{cap}, #{info}, #{pic}, #{rep}, #{langNum1}, #{langNum2}, #{langNum3}, #{regn_sido}, #{regn_sgg})
    </insert>

    <select id ="getGroupList" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select * from tgrp where grp_num > 0]]>
    </select>
</mapper>