<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.GroupWishMapper">
    <select id="read" resultType="com.swime.domain.GroupWishVO">

    </select>

    <insert id="insert">
        <selectKey keyProperty="sn" order="BEFORE" resultType="long">
            select SEQ_TGRP_WISH.nextval from dual
        </selectKey>
        insert into TGRP_WISH (SN, GRP_SN, USER_ID)
        VALUES (#{sn}, #{grpSn}, #{userId})
    </insert>

    <update id="update">

    </update>
</mapper>