<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.GroupAttendMapper">

    <insert id="insert">
        insert into tgrp_list(sn, grp_sn, user_id, grp_role, status)
        values(seq_tgrp_list.nextval, #{grpSn}, #{userId}, #{grpRole}, #{status})
    </insert>

    <select id="getList" resultType="com.swime.domain.GroupAttendVO">
        select l.sn, l.grp_sn, l.user_id, u.name, l.grp_role, l.status
        from tgrp_list l, tuser u
        where l.user_id = u.id
        and l.grp_sn = #{grpSn}
    </select>

    <update id="update">
        update tgrp_list
        set grp_role = #{grpRole},
        status = #{status},
        upd_date = current_date,
        upd_user_id = #{updUserId}
        where sn = #{sn}
    </update>

    <select id="getAttendCountByGroupSn" resultType="long">
        select count(*)
        from tgrp_list
        where grp_sn = #{grpSn}
    </select>

</mapper>