<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.GroupMapper">

    <insert id="insert">
        insert all
        into tgrp(sn, category, name, user_id, user_name, picture, description, sido, sigungu, reg_user_id)
        values(seq_tgrp.nextval, #{category}, #{name}, #{userId}, #{userName}, #{picture}, #{description}, #{sido}, #{sigungu}, #{userId})
        into tgrp_det(grp_sn, info)
        values(seq_tgrp.nextval, #{info})
        select * from dual
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="sn" order="BEFORE" resultType="long">
            select seq_tgrp.nextval from dual
        </selectKey>
        insert all
        into tgrp(sn, category, name, user_id, user_name, picture, description, sido, sigungu, reg_user_id)
        values(#{sn}, #{category}, #{name}, #{userId}, #{userName}, #{picture}, #{description}, #{sido}, #{sigungu}, #{userId})
        into tgrp_det(grp_sn, info)
        values(#{sn}, #{info})
        select * from dual
    </insert>

    <select id="read" resultType="com.swime.domain.GroupVO">
        select g.sn, g.category, g.name, g.user_id, g.user_name, g.picture, g.description, i.info, g.headcount, g.rating, g.sido, g.sigungu, g.status, g.reg_date, g.reg_user_id
        from tgrp g, tgrp_det i
        where (g.sn =i.grp_sn)
        and (g.sn = #{sn})
    </select>

    <select id="getList" resultType="com.swime.domain.GroupVO">
    <![CDATA[
        select g.sn, g.category, g.name, g.user_id, g.user_name, g.picture, g.description, i.info, g.headcount, g.rating, g.sido, g.sigungu, g.status, g.reg_date, g.reg_user_id
        from tgrp g, tgrp_det i
        where (g.sn =i.grp_sn)
        and (g.sn > 0)
    ]]>
    </select>

    <select id="getListWithPaging" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select sn, category, name, user_id, user_name, picture, description, info, headcount, rating, sido, sigungu, status, reg_date, reg_user_id
        from (
                 select /* +INDEX_DESC(tgrp pk_tgrp) */
                 rownum rn, g.sn, g.category, g.name, g.user_id, g.user_name, g.picture, g.description, i.info, g.headcount, g.rating, g.sido, g.sigungu, g.status, g.reg_date, g.reg_user_id
                 from tgrp g, tgrp_det i
                 where (g.sn = i.grp_sn)
                 and rownum <=  #{pageNum} * #{amount}
             )
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

<!--    <update id="update">-->
<!--        update tgrp-->
<!--        set category=#{category},-->
<!--            name = #{name},-->
<!--            user_id = #{userId},-->
<!--            user_name = #{userName},-->
<!--            picture = #{picture},-->
<!--            description = #{description},-->
<!--            headcount = #{headcount},-->
<!--            rating = #{rating},-->
<!--            sido = #{sido},-->
<!--            sigungu = #{sigungu},-->
<!--            status = #{status},-->
<!--            upd_date = current_date,-->
<!--            upd_user_id = #{updUserId}-->
<!--        where sn = #{sn}-->
<!--    </update>-->

<!--    <update id="delete">-->
<!--        update tgrp-->
<!--        set status = 'GRST03',-->
<!--        upd_date = current_date,-->
<!--        upd_user_id = #{updUserId}-->
<!--        where sn = #{sn}-->
<!--    </update>-->

</mapper>