<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.GroupRatingMapper">

    <insert id="insert">
        insert into tgrp_rating(sn, grp_sn, std_sn, user_id, rating, review)
        values(seq_grp_rating.nextval, #{grpSn}, #{stdSn}, #{userId}, #{rating}, #{review})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="sn" order="BEFORE" resultType="long">
            select seq_tgrp_rating.nextval from dual
        </selectKey>
        insert into tgrp_rating(sn, grp_sn, std_sn, user_id, rating, review)
        values(#{sn}, #{grpSn}, #{stdSn}, #{userId}, #{rating}, #{review})
    </insert>

    <select id="read" resultType="com.swime.domain.GroupRatingVO">
        select sn, grp_sn, std_sn, user_id, rating, review, to_char(reg_date, 'yyyy-mm-dd hh24:mi:ss') as reg_date
        from tgrp_rating
        where sn = #{sn}
    </select>

    <select id="getList" resultType="com.swime.domain.GroupRatingVO">
        select r.sn, r.grp_sn, r.std_sn, r.user_id, u.name user_name, r.rating, r.review, to_char(r.reg_date, 'yyyy-mm-dd hh24:mi:ss') as reg_date
        from tgrp_rating r, tuser u
        where grp_sn = #{grpSn}
        and r.user_id = u.id
    </select>

    <select id="getListWithPaging" resultType="com.swime.domain.GroupRatingVO">
        <![CDATA[
        select sn, grp_sn, std_sn, user_id, user_name, rating, review, reg_date
        from (  select /*+INDEX_DESC(r pk_tgrp_rating) */
                rownum rn, r.sn, r.grp_sn, r.std_sn, r.user_id, u.name user_name, r.rating, r.review, to_char(r.reg_date, 'yyyy-mm-dd hh24:mi:ss') as reg_date
                from tgrp_rating r, tuser u
                where (grp_sn = #{grpSn})
                and (rownum <=  #{cri.pageNum} * #{cri.amount})
                and r.user_id = u.id
                order by r.sn desc
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <update id="update">
        update tgrp_rating
        set rating = #{rating},
        review = #{review}
        where sn = #{sn}
    </update>

    <delete id="delete">
        delete tgrp_rating
        where sn = #{sn}
    </delete>

    <select id="getRatingByGrpSn" resultType="double">
        select nvl(round(avg(rating),1),0)
        from tgrp_rating
        where grp_sn = #{grp_sn}
    </select>

    <select id="getRatingCountByGrpSn" resultType="long">
        select count(*)
        from tgrp_rating
        where grp_sn = #{grpSn}
    </select>

    <select id="getGrpSnBySn" resultType="long">
        select grp_sn
        from tgrp_rating
        where sn = #{sn}
    </select>

</mapper>