<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.MemberMapper">
    <select id="read" resultType="com.swime.domain.MemberVO">
        select id, password, name, picture, birth, reg_path, to_char(last_login_date, 'yyyy-mm-dd hh24:mi:ss') as last_login_date,
               to_char(email_auth, 'yyyy-mm-dd hh24:mi:ss') as email_auth, status, to_char(reg_date, 'yyyy-mm-dd hh24:mi:ss') as reg_date
        from TUSER
        where id = #{id} and status != 'USST03'
    </select>

    <insert id="insert">
        insert into TUSER(id, password, name)
        values(#{id}, #{password}, #{name})
    </insert>

    <update id="update">
        update TUSER
        set password = #{password},
            name = #{name},
            picture = #{picture},
            birth = #{birth},
            last_login_date = #{lastLoginDate},
            email_auth = #{emailAuth},
            status = #{status}
        where id = #{id}
    </update>

    <delete id="delete">
        update TUSER
        set status = 'USST03'
        where id = #{id}
    </delete>

    <select id="getlist" parameterType="com.swime.domain.MemberVO" resultType="com.swime.domain.MemberVO">
        select id, password, name, picture, birth, reg_path, to_char(last_login_date, 'yyyy-mm-dd hh24:mi:ss') as last_login_date,
               to_char(email_auth, 'yyyy-mm-dd hh24:mi:ss') as email_auth, status, to_char(reg_date, 'yyyy-mm-dd hh24:mi:ss') as reg_date
        from TUSER
    </select>

    
</mapper>