<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.MemberHistoryMapper">

    <insert id="insert">
        <selectKey keyProperty="sn" order="BEFORE" resultType="long">
            select SEQ_TUSER_UPD_HIST.nextval from dual
        </selectKey>
        insert into TUSER_UPD_HIST (SN, EMAIL, UPD_MTR, BEF_VAL, AFT_VAL, REASON, DESCRIPTION)
        VALUES(#{sn}, #{email}, #{updMtr}, #{befVal}, #{aftVal}, #{reason}, #{description})
    </insert>
    
</mapper>