<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.ProfileMapper">

    <select id="read" resultType="com.swime.domain.GroupVO">
        SELECT sn, category, name, user_id, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, upd_date
        from tgrp
        where user_id = #{id} and sn = #{sn}
    </select>

    <select id="ownerList" resultType="com.swime.domain.GroupVO">
        SELECT sn, category, name, user_id, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, upd_date
        from tgrp
        where user_id = #{id} and status != 'GRST03'
        order by sn desc
    </select>

    <select id="joinList" resultType="com.swime.domain.GroupVO">
        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
               t.reg_user_id, t.reg_date, t.reg_user_id
        from Tgrp_list l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND l.user_id = #{id} AND t.status = 'GRST01' AND l.status = 'GRUS01'
        where t.user_id != #{id}
        order by t.sn desc
    </select>

    <select id="wishList" resultType="com.swime.domain.GroupVO">
        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
               t.reg_user_id, t.reg_date, t.reg_user_id
        from tgrp_wish l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND t.status = 'GRST01'
        where l.user_id = #{id}
        order by t.sn desc
    </select>

    <select id="joinListWithPaging" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id
        from(
                select rownum rn, sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id
                from(
                        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
                               t.reg_user_id, t.reg_date
                        from Tgrp_list l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND l.user_id = #{id} AND t.status = 'GRST01' AND l.status = 'GRUS01'
                        where t.user_id != #{id}
                        order by t.sn desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="dsfsdffd" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select sn, category, name, user_id, user_name, picture, description, attend_count, rating,
               rating_count, sido, sigungu, status, reg_date, reg_user_id, upd_date, upd_user_id
        from(
                select rownum rn, sn, category, name, user_id, user_name, picture, description, attend_count, rating,
                       rating_count, sido, sigungu, status, reg_date, reg_user_id, upd_date, upd_user_id
                from(
                        select /*+INDEX_DESC(g tgrp_pk) */ g.sn, g.category, g.name, g.user_id, u.name user_name,
                                                           g.picture, g.description, g.attend_count, g.rating, g.rating_count, g.sido, g.sigungu, g.status,
                                                           g.reg_date, g.reg_user_id, g.upd_date, g.upd_user_id
                        from tgrp g, tuser u
                        where g.user_id = u.id
                          and g.status != 'GRST03'
                        order by g.sn desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>







<!-- 스터디 찾아오기 -->
    <select id="gesadasdast" resultType="com.swime.domain.WishStudyVO">
        select sn, std_sn, user_id, reg_date
        from tstd_wish
        where std_sn = #{stdSn} and user_id = #{userId}
    </select>


    <!--    <select id="getListWithPaging" resultType="com.swime.domain.GroupVO">-->
<!--        <![CDATA[-->
<!--        select sn, category, name, user_id, user_name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id, upd_date, upd_user_id-->
<!--        from (-->
<!--                 select /*+INDEX_DESC(g tgrp_pk) */-->
<!--                 rownum rn, g.sn, g.category, g.name, g.user_id, u.name user_name, g.picture, g.description, g.attend_count, g.rating, g.rating_count, g.sido, g.sigungu, g.status, g.reg_date, g.reg_user_id, g.upd_date, g.upd_user_id-->
<!--                 from tgrp g, tuser u-->
<!--                 where g.user_id = u.id-->
<!--                 and g.status != 'GRST03'-->
<!--                 and rownum <=  #{pageNum} * #{amount}-->
<!--             )-->
<!--        where rn > (#{pageNum} - 1) * #{amount}-->
<!--        ]]>-->
<!--    </select>-->

<!--    <update id="update">-->
<!--        update tgrp-->
<!--        set category = #{category},-->
<!--        name = #{name},-->
<!--        user_id = #{userId},-->
<!--        description = #{description},-->
<!--        attend_count = #{attendCount},-->
<!--        rating = #{rating},-->
<!--        rating_count = #{ratingCount},-->
<!--        picture = #{picture},-->
<!--        sido = #{sido},-->
<!--        sigungu = #{sigungu},-->
<!--        status = #{status},-->
<!--        upd_date = current_date,-->
<!--        upd_user_id = #{userId}-->
<!--        where sn = #{sn}-->
<!--    </update>-->

<!--    <update id="updateInfo">-->
<!--        update tgrp_det-->
<!--        set info = #{info}-->
<!--        where grp_sn = #{sn}-->
<!--    </update>-->


<!--    <update id="delete">-->
<!--        update tgrp-->
<!--        set status = 'GRST03',-->
<!--        upd_date = current_date,-->
<!--        upd_user_id = #{userId}-->
<!--        where sn = #{sn}-->
<!--    </update>-->

<!--    <select id="getTotalCount" resultType="int">-->
<!--        select count(*)-->
<!--        from tgrp-->
<!--        where sn > 0-->
<!--        and status != 'GRST03'-->
<!--    </select>-->

</mapper>