<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swime.mapper.ProfileMapper">

<!-- 그룹 -->
    <select id="read" resultType="com.swime.domain.GroupVO">
        SELECT sn, category, name, user_id, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, upd_date
        from tgrp
        where user_id = #{id} and sn = #{sn}
    </select>

    <select id="ownerList" resultType="com.swime.domain.GroupVO">
        SELECT sn, category, name, user_id, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, upd_date
        from tgrp
        where user_id = #{id} and status != 'GRST03'
        order by sn desc
    </select>

    <select id="joinList" resultType="com.swime.domain.GroupVO">
        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
               t.reg_user_id, t.reg_date, t.reg_user_id
        from Tgrp_list l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND l.user_id = #{id} AND t.status = 'GRST01' AND l.status = 'GRUS01'
        where t.user_id != #{id}
        order by t.sn desc
    </select>

    <select id="wishList" resultType="com.swime.domain.GroupVO">
        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
               t.reg_user_id, t.reg_date, t.reg_user_id
        from tgrp_wish l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND t.status = 'GRST01'
        where l.user_id = #{id}
        order by t.sn desc
    </select>

    <select id="joinListWithPaging" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id
        from(
                select rownum rn, sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id
                from(
                        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
                               t.reg_user_id, t.reg_date
                        from Tgrp_list l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND l.user_id = #{id} AND t.status = 'GRST01' AND l.status = 'GRUS01'
                        where t.user_id != #{id}
                        order by t.sn desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="ownerListWithPaging" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date
        from(
                select rownum rn, sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date
                from(
                        SELECT sn, category, name, user_id, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, upd_date
                        from tgrp
                        where user_id = #{id} and status != 'GRST03'
                        order by sn desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="wishListWithPaging" resultType="com.swime.domain.GroupVO">
        <![CDATA[
        select sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id
        from(
                select rownum rn, sn, category, name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id
                from(
                        select t.sn, t.category, t.name, t.picture, t.description, t.attend_count, t.rating, t.rating_count, t.sido, t.sigungu, t.status,
                               t.reg_user_id, t.reg_date
                        from tgrp_wish l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND t.status = 'GRST01'
                        where l.user_id = #{id}
                        order by t.sn desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>


    <select id="ownerListCount" resultType="int">
        SELECT count(*)
        from tgrp
        where user_id = #{id} and status != 'GRST03'
    </select>

    <select id="joinListCount" resultType="int">
        select count(*)
        from Tgrp_list l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND l.user_id = #{id} AND t.status = 'GRST01' AND l.status = 'GRUS01'
        where t.user_id != #{id}
    </select>

    <select id="wishListCount" resultType="int">
        select count(*)
        from tgrp_wish l LEFT OUTER JOIN tgrp t ON l.grp_sn = t.sn AND t.status = 'GRST01'
        where l.user_id = #{id}
    </select>

<!-- 스터디 -->
    <select id="makeStudyList" resultType="com.swime.domain.StudyVO">
        <![CDATA[
        select *
        from
            (
            select rownum rn, sn, grp_sn, representation, representation_name, name, start_date, end_date, start_time, end_time, repeat_cycle, repeat_day, information, on_off, on_url, place_id, expense, capacity, status, reg_date, upd_date
            from
                (
                select s.sn, s.grp_sn, u.id as representation, u.name as representation_name, s.name, s.start_date, s.end_date, s.start_time, s.end_time, s.repeat_cycle, s.repeat_day, s.information, s.on_off, s.on_url, s.place_id, s.expense, s.capacity, s.status, s.reg_date, s.upd_date
                from tstd s, tuser u
                where s.representation = u.id and s.status in ('STST01', 'STST03') and u.id = #{id}
                order by s.reg_date desc
                )
            where rownum <= #{cri.pageNum} * #{cri.amount}
        )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="makeStudyCount" resultType="int">
        select count(*)
        from tstd s, tuser u
        where s.representation = u.id and s.status in ('STST01', 'STST03') and u.id = #{id}
    </select>

    <select id="beforeStudyList" resultType="com.swime.domain.StudyVO">
        <![CDATA[
        select *
        from
            (
                select rownum rn, sn, grp_sn, name, start_date, end_date, start_time, end_time, repeat_cycle, repeat_day, information, on_off, on_url, place_id, expense, capacity, status, reg_date, upd_date
                from
                    (
                        select s.sn, s.grp_sn, s.name, s.start_date, s.end_date, s.start_time, s.end_time, s.repeat_cycle, s.repeat_day, s.information, s.on_off, s.on_url, s.place_id, s.expense, s.capacity, s.status, s.reg_date, s.upd_date
                        from tstd_list l LEFT OUTER JOIN tstd s on l.std_sn = s.sn
                        where l.user_id = #{id} and l.status ='STUS01' and (s.start_date - current_date) > 0
                        order by s.start_date
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="beforeStudyCount" resultType="int">
    <![CDATA[
        select count(*)
        from tstd_list l LEFT OUTER JOIN tstd s on l.std_sn = s.sn
        where l.user_id = #{id} and l.status ='STUS01' and (s.start_date - current_date) > 0
    ]]>
    </select>

    <select id="afterStudyList" resultType="com.swime.domain.StudyVO">
        <![CDATA[
        select *
        from
            (
                select rownum rn, sn, grp_sn, name, start_date, end_date, start_time, end_time, repeat_cycle, repeat_day, information, on_off, on_url, place_id, expense, capacity, status, reg_date, upd_date
                from
                    (
                        select s.sn, s.grp_sn, s.name, s.start_date, s.end_date, s.start_time, s.end_time, s.repeat_cycle, s.repeat_day, s.information, s.on_off, s.on_url, s.place_id, s.expense, s.capacity, s.status, s.reg_date, s.upd_date
                        from tstd_list l LEFT OUTER JOIN tstd s on l.std_sn = s.sn
                        where l.user_id = #{id} and l.status ='STUS01' and (s.start_date - current_date) < 0
                        order by s.start_date
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="afterStudyCount" resultType="int">
    <![CDATA[
        select count(*)
        from tstd_list l LEFT OUTER JOIN tstd s on l.std_sn = s.sn
        where l.user_id = #{id} and l.status ='STUS01' and (s.start_date - current_date) < 0
    ]]>
    </select>

    <select id="wishStudyList" resultType="com.swime.domain.StudyVO">
    <![CDATA[
        select *
        from
            (
                select rownum rn, sn, grp_sn, name, start_date, end_date, start_time, end_time, repeat_cycle, repeat_day, information, on_off, on_url, place_id, expense, capacity, status, reg_date, upd_date
                from
                    (
                        select s.sn, s.grp_sn, s.name, s.start_date, s.end_date, s.start_time, s.end_time, s.repeat_cycle, s.repeat_day, s.information, s.on_off, s.on_url, s.place_id, s.expense, s.capacity, s.status, s.reg_date, s.upd_date
                        from TSTD_WISH w LEFT OUTER JOIN tstd s on w.std_sn = s.sn
                        where w.user_id = #{id} and s.status in ('STST01', 'STST03')
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
    ]]>

    </select>

    <select id="wishStudyCount" resultType="int">
        select count(*)
        from TSTD_WISH w LEFT OUTER JOIN tstd s on w.std_sn = s.sn
        where w.user_id = #{id} and s.status in ('STST01', 'STST03')
    </select>

    <select id="writeContentsList" resultType="com.swime.domain.BoardVO">
    <![CDATA[
        select *
        from
            (
                select rownum rn, sn, grp_sn, user_id, title, content, like_cnt, reply_cnt status, top_fix
                from
                    (
                        select /*+INDEX_DESC(tbrd pk_tbrd) */ b.sn, b.grp_sn, b.user_id, b.title, d.content, b.like_cnt, b.reply_cnt, b.status, b.reg_date, b.upd_date, substr(top_fix, 6, 1) top_fix
                        from tbrd b LEFT OUTER JOIN tbrd_det d on b.sn = d.brd_sn
                        where b.status != 'BOST02' and b.user_id = #{id}
                        order by reg_date desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
    ]]>
    </select>
    <select id="writeContentsCount" resultType="int">
        select count(*)
        from tbrd b LEFT OUTER JOIN tbrd_det d on b.sn = d.brd_sn
        where b.status != 'BOST02' and b.user_id = #{id}
    </select>

    <select id="writeReplyList" resultType="com.swime.domain.ReplyVO">
    <![CDATA[
        select *
        from
            (
                select rownum rn, sn, brd_sn, user_id, comment_group, content, cnt, status
                from
                    (
                        select *
                        from trpl
                        where status != 'RPST02' and user_id = #{id}
                        order by sn desc
                    )
                where rownum <= #{cri.pageNum} * #{cri.amount}
            )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
    ]]>
    </select>
    <select id="writeReplyCount" resultType="int">
        select count(*)
        from trpl
        where status != 'RPST02' and user_id = #{id}
    </select>

















    <!--    <select id="getListWithPaging" resultType="com.swime.domain.GroupVO">-->
<!--        <![CDATA[-->
<!--        select sn, category, name, user_id, user_name, picture, description, attend_count, rating, rating_count, sido, sigungu, status, reg_date, reg_user_id, upd_date, upd_user_id-->
<!--        from (-->
<!--                 select /*+INDEX_DESC(g tgrp_pk) */-->
<!--                 rownum rn, g.sn, g.category, g.name, g.user_id, u.name user_name, g.picture, g.description, g.attend_count, g.rating, g.rating_count, g.sido, g.sigungu, g.status, g.reg_date, g.reg_user_id, g.upd_date, g.upd_user_id-->
<!--                 from tgrp g, tuser u-->
<!--                 where g.user_id = u.id-->
<!--                 and g.status != 'GRST03'-->
<!--                 and rownum <=  #{pageNum} * #{amount}-->
<!--             )-->
<!--        where rn > (#{pageNum} - 1) * #{amount}-->
<!--        ]]>-->
<!--    </select>-->

<!--    <update id="update">-->
<!--        update tgrp-->
<!--        set category = #{category},-->
<!--        name = #{name},-->
<!--        user_id = #{userId},-->
<!--        description = #{description},-->
<!--        attend_count = #{attendCount},-->
<!--        rating = #{rating},-->
<!--        rating_count = #{ratingCount},-->
<!--        picture = #{picture},-->
<!--        sido = #{sido},-->
<!--        sigungu = #{sigungu},-->
<!--        status = #{status},-->
<!--        upd_date = current_date,-->
<!--        upd_user_id = #{userId}-->
<!--        where sn = #{sn}-->
<!--    </update>-->

<!--    <update id="updateInfo">-->
<!--        update tgrp_det-->
<!--        set info = #{info}-->
<!--        where grp_sn = #{sn}-->
<!--    </update>-->


<!--    <update id="delete">-->
<!--        update tgrp-->
<!--        set status = 'GRST03',-->
<!--        upd_date = current_date,-->
<!--        upd_user_id = #{userId}-->
<!--        where sn = #{sn}-->
<!--    </update>-->

<!--    <select id="getTotalCount" resultType="int">-->
<!--        select count(*)-->
<!--        from tgrp-->
<!--        where sn > 0-->
<!--        and status != 'GRST03'-->
<!--    </select>-->

</mapper>